﻿<%@ Page Title="About Us" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="About.aspx.cs" Inherits="Ibetting2.About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">iBetting</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" style="margin-top:10px">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><asp:Button ID="Button2" runat="server" Text="Register" CssClass="btn btn-success" /></li>
             <li>&nbsp&nbsp</li>
              <li><asp:TextBox ID="TextBox1" runat="server"  CssClass="form-control" placeholder="Username"></asp:TextBox></li>
            <li>&nbsp&nbsp</li>
             <li><asp:TextBox ID="TextBox4" runat="server"  CssClass="form-control" placeholder="Password"></asp:TextBox></li>
             <li>&nbsp&nbsp</li>
             <li class="active"><asp:Button ID="Button1" runat="server" Text="Login" CssClass="btn btn-success" /></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</asp:Content>
