﻿<%@ Page Title="Home Page" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="Ibetting2._Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <div align="right" style="vertical-align: middle;margin-bottom:10px">
                <asp:Label ID="Label3" runat="server" Text="Username" height="26px"></asp:Label>
                <asp:TextBox ID="TextBox1" runat="server" height="26px"></asp:TextBox>
                <asp:Label ID="Label4" runat="server" Text="Password" height="26px"></asp:Label>
                <asp:TextBox ID="TextBox4" runat="server" height="26px"></asp:TextBox>
                <asp:Button ID="Button2" runat="server" Text="Login" />
</div>
    <div class="clear hideSkiplink">
                <asp:Menu ID="NavigationMenu" runat="server" CssClass="menu" EnableViewState="false" IncludeStyleBlock="false" Orientation="Horizontal">
                    <Items>
                        <asp:MenuItem NavigateUrl="~/Default.aspx" Text="Home"/>
                        <asp:MenuItem NavigateUrl="~/About.aspx" Text="About"/>
                    </Items>
                </asp:Menu>
            </div>

            

    <h2 align="center">
        Welcome to ibetting!
    </h2>
    <div class="tabela">
        
        <asp:GridView ID="GridView1" runat="server" HorizontalAlign="Center">
        </asp:GridView>
        
        </div>

</asp:Content>
